.container {
  max-width: 600px;
  width: 100%;
  background-color: #ffd756;

  display: grid;
  grid-template:
    'title' auto
    'options' 1fr
    'settings' auto
    'submit' auto;
  gap: 5px;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25px;
  width: 8px;
  border-left: 2px solid #ca302c;
  border-right: 2px solid #ca302c;
}

.title {
  grid-area: title;
  padding-top: 25px;
  padding-bottom: 25px;

}

.options {
  grid-area: options;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings {
  grid-area: settings;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.submit {
  grid-area: submit;
  margin-left: 40px;
}

.create_poll_button {
  font-weight: bold;
}