.title {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  font-size: 1.2rem;
}

.title::placeholder {
  font-size: 1.2rem;
}

.options {
  display: flex;
  flex-direction: column;
}

.settings {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 350px;
}

@media (max-width: 420px) {
  .select {
    width: calc(100% - 30px);
  }
}

@media (max-width: 400px) {
  .select {
    width: calc(100% - 60px);
  }
}

.submit {
  margin: 20px;
  margin-left: 40px;
}

.btn__submit {
  background-color: #ca302c;
}

.btn__submit:hover {
  background-color: #ca302c;
}

.btn__submit:active {
  background-color: #a02824;
}
