.container {
  position: relative;

  max-width: 650px;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-color: #ffd756;
}

.container::before {
  content: '';

  position: absolute;
  top: 0;
  bottom: 0;
  left: 25px;
  width: 10px;

  border-left: 2px solid #ca302c;
  border-right: 2px solid #ca302c;
}
