.title {
  display: block;
  padding: 20px 0 0 50px;
  font-size: 1.2rem;
  font-weight: bold;
}

.options {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.options .options__item:first-child {
  border-top: 2px solid #b1b874;
}

.options__item {
  margin-left: 0;
  padding-left: 40px;
  border: none;
  border-bottom: 2px solid #b1b874;
}

.captcha {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.btn__vote {
  background-color: #ca302c;
}

.btn__vote:hover {
  background-color: #ca302c;
}

.btn__vote:active {
  background-color: #a02824;
}
