.input {
  font-size: 1rem;
  font-family: 'Patrick Hand', 'Comic Sans MS', 'Comic Sans MS5', sans-serif;
  cursor: text;

  max-width: 100%;
  margin: 0;
  padding: 8px 5px 8px 50px;

  border: none;
  border-bottom: 2px solid #b1b874;
  border-radius: 0;

  background-color: transparent;
}

.input::placeholder {
  font-size: 1rem;
}

.input:focus {
  outline: none;
}

.input:hover {
  background: inherit;
}
